{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav style="padding: 10px; background-color: #111; color: #fff;">
        <a href="/" style="color: white; margin-right: 15px;">Main Page</a>
        <a href="/admin/" style="color: white;">Admin Panel</a>
    </nav>
    
</body>
</html>